name: sammsel
description: SAMSEL Publication Management System
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.10.4 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  provider: ^6.1.1
  go_router: ^12.1.3
  intl: ^0.18.1

dev_dependencies:

  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  fonts:
    - family: Brush Script MT
      fonts:
        - asset: assets/fonts/BrushScriptMT.ttf